<a href="https://colab.research.google.com/github/nawaalharris/ISM-4402-Business-Intelligence/blob/master/assn8_pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving gradedata.csv to gradedata.csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['gradedata.csv']))
df.head()

     fname     lname  ... grade                                   address
0   Marcia      Pugh  ...  82.4   9253 Richardson Road, Matawan, NJ 07747
1   Kadeem  Morrison  ...  78.2          33 Spring Dr., Taunton, MA 02780
2     Nash    Powell  ...  79.3          41 Hill Avenue, Mentor, OH 44060
3  Noelani    Wagner  ...  83.2        8839 Marshall St., Miami, FL 33125
4  Noelani    Cherry  ...  87.4  8304 Charles Rd., Lewis Center, OH 43035

[5 rows x 8 columns]

In [ ]:
df = df.sort_values(by=['fname','grade', 'age'],
                    ascending=[True, True, True])
df.head()

      fname      lname  ... grade                                    address
721   Aaron      Salas  ...  86.7   642 Kirkland Rd., Eden Prairie, MN 55347
435   Aaron    Knowles  ...  88.7      596 Warren Drive, Brunswick, GA 31525
340   Abbot       Hall  ...  58.9       84 Rock Creek Lane, Durham, NC 27703
1690  Abbot     Kramer  ...  81.0  3 Golden Star Rd., Lake Jackson, TX 77566
817   Abbot  Daugherty  ...  82.3   348 Glenridge Ave., Plainfield, NJ 07060

[5 rows x 8 columns]