<a href="https://colab.research.google.com/github/nawaalharris/ISM-4402-Business-Intelligence/blob/master/ch4_pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving gradedata.csv to gradedata.csv

In [8]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['gradedata.csv']))
df2.head()

     fname     lname  ... grade                                   address
0   Marcia      Pugh  ...  82.4   9253 Richardson Road, Matawan, NJ 07747
1   Kadeem  Morrison  ...  78.2          33 Spring Dr., Taunton, MA 02780
2     Nash    Powell  ...  79.3          41 Hill Avenue, Mentor, OH 44060
3  Noelani    Wagner  ...  83.2        8839 Marshall St., Miami, FL 33125
4  Noelani    Cherry  ...  87.4  8304 Charles Rd., Lewis Center, OH 43035

[5 rows x 8 columns]

In [11]:
df2.take(np.random.permutation(len(df2))[:500])

        fname  ...                                          address
1872   Mariko  ...         8570 Pawnee Ave., Apple Valley, CA 92307
1946    Thane  ...              423 Cedarwood St., Joliet, IL 60435
1256     Lara  ...       6 Rocky River Drive, Glen Burnie, MD 21060
289    Thomas  ...              816 Gartner Ave., Ravenna, OH 44266
288     Haley  ...                   986 Pine Lane, Union, NJ 07083
...       ...  ...                                              ...
192   Russell  ...         8027 Somerset Lane, Cincinnati, OH 45211
976    Daphne  ...           99 Canterbury Court, Roswell, GA 30075
814    Porter  ...         9099 Paris Hill Court, De Pere, WI 54115
158     Grant  ...  943 Walt Whitman Avenue, Lake Charles, LA 70605
891   Mufutau  ...         673 Mulberry Lane, Bloomington, IN 47401

[500 rows x 8 columns]