<a href="https://colab.research.google.com/github/nawaalharris/ISM-4402-Business-Intelligence/blob/master/ch4_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
grades = [76, 95, 77, 78, 99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [26]:
from pandas import DataFrame
GradeList = zip(names, grades, bsdegrees, msdegrees, phddegrees)
df = pd.DataFrame(data=GradeList,
                  columns=['Names', 'Grades', 'Bachelors','Masters','PHD'])
df

     Names  Grades  Bachelors  Masters  PHD
0      Bob      76          1        2    0
1  Jessica      95          1        1    1
2     Mary      77          0        0    0
3     John      78          0        0    0
4      Mel      99          1        0    0

In [27]:
df["Grades"].mean()

85.0

In [28]:
df['Grades'].count()

5

In [29]:
df['Grades'].std()

11.067971810589327

In [30]:
df['Grades'].min()

76

In [31]:
df['Grades'].max()

99

In [34]:
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64