<a href="https://colab.research.google.com/github/nawaalharris/ISM-4402-Business-Intelligence/blob/master/part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving gradedata.csv to gradedata.csv

In [74]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['gradedata.csv']))
df2.head()

     fname     lname  ... grade                                   address
0   Marcia      Pugh  ...  82.4   9253 Richardson Road, Matawan, NJ 07747
1   Kadeem  Morrison  ...  78.2          33 Spring Dr., Taunton, MA 02780
2     Nash    Powell  ...  79.3          41 Hill Avenue, Mentor, OH 44060
3  Noelani    Wagner  ...  83.2        8839 Marshall St., Miami, FL 33125
4  Noelani    Cherry  ...  87.4  8304 Charles Rd., Lewis Center, OH 43035

[5 rows x 8 columns]

In [ ]:
bins = [0, 60, 70, 80, 90, 100]
group_names = ['F', 'D', 'C', 'B', 'A']

In [ ]:
df2['lettergrade'] = pd.cut(df2['grade'], bins,
                           labels=group_names)
df2

          fname  ... lettergrade
0        Marcia  ...           B
1        Kadeem  ...           C
2          Nash  ...           C
3       Noelani  ...           B
4       Noelani  ...           B
...         ...  ...         ...
1995       Cody  ...           B
1996  Geraldine  ...           A
1997   Mercedes  ...           B
1998     Lucius  ...           D
1999      Linus  ...           C

[2000 rows x 9 columns]

In [ ]:
pd.value_counts(df2['lettergrade'])

B    737
C    580
A    475
D    193
F     15
Name: lettergrade, dtype: int64

In [75]:
import numpy as np
df2['result'] = np.where(df2['grade']<80,
      'fail', 'pass')
df2.tail(10)

          fname     lname  ...                                        address  result
1990      Adena    Battle  ...    9272 Elizabeth Drive, Londonderry, NH 03053    fail
1991      Craig    Obrien  ...             524 Park Ave., Hollywood, FL 33020    fail
1992   Isabelle    Barber  ...      955 Glen Ridge Rd., Plattsburgh, NY 12901    fail
1993       Risa    Watson  ...  37 Augusta Lane, Montgomery Village, MD 20886    fail
1994    Emerson      Gill  ...    75 Wild Horse Street, Panama City, FL 32404    fail
1995       Cody  Shepherd  ...          982 West Street, Alexandria, VA 22304    pass
1996  Geraldine  Peterson  ...     78 Morris Street, East Northport, NY 11731    pass
1997   Mercedes      Leon  ...          30 Glenridge Rd., Bountiful, UT 84010    pass
1998     Lucius   Rowland  ...    342 West Meadowbrook Lane, Helena, MT 59601    fail
1999      Linus    Morris  ...         81 Homestead Drive, Voorhees, NJ 08043    fail

[10 rows x 9 columns]